.menu {
    position: absolute;
    top: 55%;
    right: 4%;
    z-index: 99;
    width: 150px;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
    transition: opacity 0.3s ease;
    
}

.menu-item {
    display: block;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    width: 100%;
    z-index: 99;
    transition: 0.3s ease;
    
}
  
.divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 8px 0;
}

.menu-item:hover {
    background-color: #535252;
    padding: 8px;
}
.NavLink {
    transition: 0.3s ease;
}
.NavLink:hover {
    background-color: #3f536e !important;
}

